<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pyidaungsu-1.7_Regular.ttf</string>
		<string>Pyidaungsu-1.7_Bold.ttf</string>
		<string>MUA_Office_adobe.ttf</string>
		<string>Mon3Anonta1.ttf</string>
	</array>
</dict>
</plist>
